html, body {
    height: 100%;
    margin: 0;
  }
  
  .card-body {
    overflow-y: auto;
    height: 300px; 
  }
  
  .list-group-item {
    padding: 1rem 1.25rem;
  }
  .btn-primary{
    background: #17141d;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: #17141d;
    transition: background-color 0.3s, box-shadow 0.3s; 
  }

  .btn-primary:hover {
    background-color: #2a2730;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  }
  
  .btn-primary:active {
    background-color: #0f0c13;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .sent-message {
    text-align: right; 
  }
  
  .received-message {
    text-align: left; 
  }

  

  .back-button {
    color: #000;
    margin-right: 10px; 
    text-decoration: none; 
  }
  
  
  .back-button:hover {
    color: #555;
  }
  